@import url(node_modules/cesium/Build/Cesium/Widgets/widgets.css);

* {
    overflow: hidden;
}

html, body, #container {
    width: 100vw;
    height: 100vh;
}

body, #container {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    position: absolute;
}

/*
 * Disable highlighting/selecting across the application
 * Solution taken from https://github.com/electron/electron/issues/2538
 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input, button, textarea, :focus {
    /* We must add some other style for :focus to help UX/a11y */
    outline: none;
}

.hgl-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.hgl-header {
    flex: none; /* same as "flex: 0 0 auto;" */
}

.hgl-footer {
    display: flex;
    flex-direction: row;
    flex: none; /* same as "flex: 0 0 auto;" */
    align-items: center;
    justify-content: center;
}

.hgl-midsection {
    flex: auto; /* same as "flex: 1 1 auto;" */
    display: flex;
    flex-flow: row nowrap;
}

.hgl-left, .hgl-right {
    flex: none;
    /*overflow-y: auto;*/
}

.hgl-center {
    flex: auto;
    /*overflow-y: auto;*/
    /* Chrome suggested workaround */
    height: 100%;
    display: flex;
    flex-flow: column;
}

.hgl-hor-splitter {
    flex: none;
    border: none;
    outline: none;
    width: 4px;
    min-height: 100%;
    max-height: 100%;
    /*background-color: yellow;*/
    cursor: col-resize;
}

/*
 * -webkit-scrollbar customization taken from
 * https://css-tricks.com/examples/WebKitScrollbars/
 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(52, 104, 122, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(191, 204, 214, 0.4);
}

/* For visible debugging ====================================================== */

html, body {
    background: black;
}

body {
    color: white;
}

.hgl-container {
    background: #111;
}

.hgl-header {
    background: #34687a;
}

.hgl-footer {
    background: #34687a;
    text-align: center;
}

.hgl-center {
    background: #ffffff;
    color: #394b59;
}

/*
 * Increase the padding between each menu item. Originally 0 10px
 */
.pt-tabs.pt-vertical > .pt-tab-list > .pt-tab {
    padding: 15px 10px;
}

.pt-tabs.pt-vertical > .pt-tab-list {
    background-color: #ffffff;
}

/*
 * Increase the large icon size.
 */
span.pt-icon-large {
    font-size: 25px;
    color: #34687a;
}

/**
 * Fix blueprint's h<N> line-height: 0.8em
 */
h1, h2, h3, h4, h5 {
    line-height: 1.5em;
}

/*
 * Blueprint patches
 */
.pt-tabs.pt-vertical > .pt-tab-panel {
    padding-left: 10px;
    padding-top: 10px;
}

.panel-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.panel-flexbox > .panel-flexbox-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 500px;

    margin: 0 10px 0 0;
}

.panel-flexbox-item-configurations {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;

    margin: 0 10px 0 0;
}

.pt-tabs {
    width: 100%;
    height: 100%;
}

.pt-tab-panel {
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 225, 228);
}

.pt-tab:not(:last-of-type) {
    margin-right: 0;
    padding: 0 10px 0 0;
}

.pt-tabs.pt-vertical > .pt-tab-list .pt-tab-indicator-wrapper .pt-tab-indicator {
    background-color: rgba(52, 104, 122, 0.2);
}

.pt-tabs.pt-vertical > .pt-tab-list {
    padding: 0;
}

/*Adjust the vertical tab list shadow size*/
.pt-tabs.pt-vertical > .pt-tab-list > .pt-tab-indicator-wrapper {
    height: 60px !important;
    width: 50px !important;
}

.flexbox-item-pico-header {
    font-size: x-large;
    width: 100%;
    margin: 0 0 10px 0;
}

.flexbox-item-pico-config {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 500px;

    margin: 0 10px 0 0;
}

.flexbox-item-pico-footprints {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 500px;

    margin: 0 10px 0 0;
}

.flexbox-item-pico-runs {
    width: 100%;
}

/* Footer style */

.footer-developed-by {
    width: 80%;
}

.footer-core-status {
    width: 20%;
    text-align: right;
    margin-right: 15px;
}

.core-status-text {
    margin-right: 15px;
}

/* Top menu styling ==========================================================*/

.dedop-menu-title {
    color: #ffffff;
    margin: 0 0 0 10px;
}

.pt-navbar {
    background-color: #34687a;
}

/* Top menu styling ==========================================================*/

/* Blueprint collapse styling ================================================*/

.dedop-collapse {
    margin: 0 0 5px 0;
}

.vertical-full {
    height: 50%;
}

.vertical-half {
    height: 50%;
}

.dedop-collapse-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: rgba(52, 104, 122, 0.5);
    height: 30px;
}

.dedop-collapse-header-icon {
    padding: 0 5px;
    color: #ffffff;
}

.dedop-collapse-header-text {
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    color: #ffffff;
}

.dedop-collapse-header-actions {
    margin: 0 5px 0 auto;
    color: #ffffff;
}

.dedop-collapse-header-actions-icon {
    text-align: right;
    color: #ffffff;
}

.dedop-panel-header-configurations-buttons {
    width: 10%;
    flex-basis: 150px;
    text-align: right;
    margin-left: auto;
}

.dedop-panel-header-configurations-button {
    padding-right: 5px;
    color: #ffffff;
}

.dedop-panel-content {
    margin: 10px 0 0 0;
}

/* Blueprint collapse styling ================================================*/

/* Configurations styling====================================================*/

.panel-flexbox-configuration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    overflow: auto;
    width: 100%;
    min-height: 400px;
    padding: 10px 0 0 0;
}

.panel-flexbox-item-properties {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;

    margin: 0 10px 0 0;
}

.panel-flexbox-item-roi {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;

    margin: 0 10px 0 0;
}

.panel-flexbox-chd {
    height: 100%;
    padding-top: 10px;
    overflow: auto;
}

.config-textbox {
    width: 300px;
}

.config-flag-panel {
    display: inline-flex;
    flex-direction: column;
}

label.pt-label.pt-inline {
    margin: auto 0;
    color: #34687a;
}

.pt-input-group .pt-input:not(:last-child) {
    text-align: right;
}

.pt-input-group .pt-input {
    text-align: right;
}

/* Configurations styling===================================================*/

/* Listbox styling =========================================================*/

.dedop-list-box {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgba(214, 225, 228, 0);
}

.dedop-list-box li {
    padding: 0.3em 0.6em;
}

.dedop-list-box li:last-child {
    border-bottom: none
}

.dedop-list-box li:hover {
    background-color: rgba(248, 250, 220, 0.4);
}

.dedop-list-box > li:nth-child(even) {
    background-color: rgba(52, 104, 122, 0.2);
}

ul.dedop-list-box li.dedop-selected {
    background-color: rgba(128, 128, 255, 0.2);
}

.dedop-list-box-item {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
}

.dedop-file-name {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}

.dedop-file-current-tag {
    text-align: center;
    margin-right: 10px;
    width: 10%;
}

.dedop-file-updated-date {
    text-align: right;
    font-size: x-small;
    font-style: italic;
    width: 20%;
}

/* Listbox styling =========================================================*/

/* Blueprint table styling =================================================*/

.bp-table-container {
    height: inherit;
}

.bp-table-body {
    overflow: auto;
}

.bp-table-truncated-text {
    cursor: pointer;
}

/* Blueprint table styling =================================================*/

/* L1A Input styling===================================================*/

.l1a-input-radio-group {
    margin: 10px 0 0 10px;
}

.l1a-input-file-upload {
    width: 100%;
}

/* L1A Input styling===================================================*/

/* <<<< Cesium ============================================================ */

/*
 * Assign 100% parent size to Cesium's main permanentObject with id="cesiumDiv"
 */
.cesium-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

/*
 * Override cesium-widget from Cesium
 */
.cesium-widget {
    position: relative;
}

/*
 * Override cesium-widget from Cesium
 */
.cesium-widget, .cesium-widget canvas {
    width: 100%;
    height: 100%;
}

/* City List Example */

.cesium-city-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    margin: 0;

    background-color: white;
    opacity: 0.9;

    list-style-type: none;
}

/* >>>> Cesium ============================================================ */
